/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.woocommerce ul.product_list_widget li a {
    line-height: 1.3em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
}