<div class="boxbinhluan">
    <div class="boxbinhluantrai"><img src="./view/img/user.png"></div>
    <div class="boxbinhluanphai">
        <p>'. $name .': '.$noidung.'</p>
    </div>
</div>


<style>
    .boxbinhluan1 {
        padding-top: 300px;
        margin-top: 300px;
    }
    
    .ml2 {
        margin-left: 5%;
    }
    
    .boxbinhluantrai {
        float: left;
        width: 6%;
    }
    
    .boxbinhluantrai img {
        padding-top: 15px;
        width: 50px;
        height: 60px;
    }
    
    .boxbinhluanphai {
        padding-top: 20px;
        float: left;
        width: 87%;
    }
    
    .boxbinhluanphai .thongbao {
        width: 200px;
        color: blue;
        font-weight: bold;
    }
</style>